@charset "UTF-8";
.fl {
  float: left; }

.fr {
  float: right; }

a {
  text-decoration: none;
  color: inherit; }

.search .search-left .search-box .text-bottom li a:hover {
  color: #f10215; }

.search:after, .search .search-left .search-box .text-bottom:after {
  display: block;
  content: '';
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both; }

.mar-bott {
  margin-bottom: 30px; }

.header {
  position: relative; }

.mar-rig {
  margin-right: 10px; }

/*顶部导航*/
#bigBox .header-nav {
  width: 100%;
  background: #e3e4e5; }
  #bigBox .header-nav .header-nav-auto {
    width: 1190px;
    margin: 0 auto;
    height: 34px; }
    #bigBox .header-nav .header-nav-auto .auto-left {
      /*左边定位区域*/
      float: left;
      position: relative;
      margin-left: 200px;
      border: 1px solid transparent;
      width: 54px;
      height: 28px;
      padding: 2px;
      font-size: 12px;
      line-height: 24px;
      color: #999;
      cursor: pointer; }
      #bigBox .header-nav .header-nav-auto .auto-left b {
        z-index: 99;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid transparent; }
      #bigBox .header-nav .header-nav-auto .auto-left:hover {
        border-color: #ccc;
        background: #fff; }
      #bigBox .header-nav .header-nav-auto .auto-left i {
        color: #f10215; }
      #bigBox .header-nav .header-nav-auto .auto-left:hover b {
        border-color: #fff; }
      #bigBox .header-nav .header-nav-auto .auto-left:hover .left-nav {
        display: block; }
      #bigBox .header-nav .header-nav-auto .auto-left .left-nav {
        display: none;
        position: absolute;
        z-index: 10;
        top: 32px;
        left: -1px;
        border: 1px solid #ccc;
        width: 300px;
        padding: 10px;
        background: #fff; }
        #bigBox .header-nav .header-nav-auto .auto-left .left-nav .listtop {
          width: 280px;
          overflow: hidden;
          border-bottom: 1px solid #ccc;
          padding-bottom: 20px; }
          #bigBox .header-nav .header-nav-auto .auto-left .left-nav .listtop p {
            float: left;
            width: 20%; }
            #bigBox .header-nav .header-nav-auto .auto-left .left-nav .listtop p a {
              display: block;
              text-align: center;
              text-decoration: none;
              color: #999; }
              #bigBox .header-nav .header-nav-auto .auto-left .left-nav .listtop p a:hover {
                color: #f10215;
                background: rgba(0, 0, 0, 0.2); }
      #bigBox .header-nav .header-nav-auto .auto-left .listbottom a {
        display: inline-block;
        width: 40%;
        margin-left: 15px;
        text-decoration: none;
        color: #999;
        height: 30px;
        line-height: 30px; }
        #bigBox .header-nav .header-nav-auto .auto-left .listbottom a:hover span {
          color: #f10215; }
        #bigBox .header-nav .header-nav-auto .auto-left .listbottom a i {
          display: inline-block;
          width: 15px;
          height: 15px;
          background-image: url("../img/console.png");
          background-repeat: no-repeat; }
      #bigBox .header-nav .header-nav-auto .auto-left .listbottom a:nth-of-type(1) i {
        background-position: 0px 3px; }
      #bigBox .header-nav .header-nav-auto .auto-left .listbottom a:nth-of-type(2) i {
        background-position: -20px 3px; }
      #bigBox .header-nav .header-nav-auto .auto-left .listbottom a:nth-of-type(3) i {
        background-position: -40px 3px; }
      #bigBox .header-nav .header-nav-auto .auto-left .listbottom a:nth-of-type(4) i {
        background-position: -60px 3px; }
    #bigBox .header-nav .header-nav-auto .auto-right {
      float: right;
      height: 34px;
      font-size: 12px; }
      #bigBox .header-nav .header-nav-auto .auto-right a {
        text-decoration: none;
        color: #999; }
      #bigBox .header-nav .header-nav-auto .auto-right a:hover {
        color: #f10215; }
      #bigBox .header-nav .header-nav-auto .auto-right p {
        float: left;
        line-height: 34px;
        padding-right: 15px; }
        #bigBox .header-nav .header-nav-auto .auto-right p a {
          display: inline-block;
          vertical-align: middle;
          margin-left: 5px; }
        #bigBox .header-nav .header-nav-auto .auto-right p .hover {
          color: #f10215; }
      #bigBox .header-nav .header-nav-auto .auto-right ul {
        float: right; }
        #bigBox .header-nav .header-nav-auto .auto-right ul .act {
          height: 32px;
          border: 1px solid transparent; }
          #bigBox .header-nav .header-nav-auto .auto-right ul .act:before {
            display: block;
            content: '';
            z-index: 999;
            height: 1px;
            width: 100%;
            position: absolute;
            bottom: -1px;
            left: 0;
            background: transparent; }
        #bigBox .header-nav .header-nav-auto .auto-right ul .act:hover {
          background: #fff;
          border-color: #ccc; }
          #bigBox .header-nav .header-nav-auto .auto-right ul .act:hover .nav-bottom {
            display: block; }
          #bigBox .header-nav .header-nav-auto .auto-right ul .act:hover:before {
            background: #fff; }
        #bigBox .header-nav .header-nav-auto .auto-right ul li {
          position: relative;
          display: inline-block;
          height: 34px;
          padding: 0 10px;
          text-align: center;
          line-height: 34px; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li:after {
            position: absolute;
            display: block;
            content: '';
            width: 1px;
            height: 10px;
            top: 50%;
            margin-top: -5px;
            left: -3px;
            background: #ccc; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom {
            z-index: 10;
            background: #fff;
            display: none;
            position: absolute;
            width: 280px;
            top: 32px;
            left: -1px;
            border: 1px solid #ccc;
            line-height: 20px; }
            #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom p {
              border-bottom: 1px solid #ccc;
              line-height: 20px;
              padding: 10px 0; }
            #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom .bottom-bot {
              padding: 20px 0 10px 0; }
            #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom a {
              width: 43%;
              text-align: left; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-2 {
            z-index: 10;
            width: 155px; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-3 {
            z-index: 10;
            width: 170px;
            left: -83px;
            padding: 10px 0; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-4 {
            width: 1190px;
            overflow: hidden;
            left: -1011px;
            z-index: 1100; }
            #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-4 div {
              width: 30%;
              padding: 10px;
              border-right: 1px solid #ccc; }
              #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-4 div h5 {
                padding-left: 20px; }
              #bigBox .header-nav .header-nav-auto .auto-right ul li .nav-bottom-4 div a {
                width: 22%; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li h5 {
            text-align: left;
            padding-left: 10px;
            font-size: 12px; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li a {
            display: inline-block;
            vertical-align: middle; }
          #bigBox .header-nav .header-nav-auto .auto-right ul li i {
            display: inline-block;
            vertical-align: middle; }

h1 {
  position: relative;
  width: 1190px;
  margin: auto; }
  h1 a {
    display: block;
    position: absolute;
    left: 0;
    top: -34px;
    z-index: 999;
    width: 190px;
    height: 170px; }

.search {
  width: 1190px;
  margin: auto; }
  .search .search-left {
    padding-top: 35px; }
    .search .search-left .search-box {
      display: inline-block;
      width: 555px;
      margin-left: 320px; }
      .search .search-left .search-box .left-text {
        position: relative;
        width: 555px;
        height: 37px;
        background: #ffffff; }
        .search .search-left .search-box .left-text > ul {
          position: absolute;
          display: none;
          width: 500px;
          top: 37px;
          left: 0;
          background: #ffffff;
          z-index: 999;
          border: 1px solid #e83632;
          font-size: 12px; }
          .search .search-left .search-box .left-text > ul > li {
            width: 100%;
            color: #999; }
            .search .search-left .search-box .left-text > ul > li > a {
              position: relative;
              padding: 0 20px;
              display: block;
              height: 30px;
              line-height: 30px; }
              .search .search-left .search-box .left-text > ul > li > a > em {
                position: absolute;
                left: 20px;
                top: 0;
                text-align: center;
                line-height: 30px;
                font-style: normal; }
              .search .search-left .search-box .left-text > ul > li > a > b {
                font-weight: normal;
                position: absolute;
                top: 0;
                right: 20px;
                text-align: center;
                line-height: 30px; }
              .search .search-left .search-box .left-text > ul > li > a:hover {
                color: #ffffff;
                background: #f10215; }
        .search .search-left .search-box .left-text .text-search {
          vertical-align: middle;
          width: 500px;
          height: 35px;
          line-height: 35px;
          outline: none;
          border: 0; }
        .search .search-left .search-box .left-text span {
          position: absolute;
          width: 25px;
          height: 25px;
          top: 50%;
          margin-top: -12.5px;
          right: 55px;
          cursor: pointer; }
          .search .search-left .search-box .left-text span:hover {
            color: #f10215; }
        .search .search-left .search-box .left-text .Carmen {
          font-size: 25px; }
        .search .search-left .search-box .left-text button {
          vertical-align: middle;
          width: 48px;
          height: 35px;
          border: 0;
          outline: none;
          background: #f10215;
          color: #fff;
          cursor: pointer; }
          .search .search-left .search-box .left-text button i {
            font-size: 25px; }
      .search .search-left .search-box .text-bottom {
        padding: 10px 0; }
        .search .search-left .search-box .text-bottom li:nth-of-type(1) a {
          color: #f10215; }
        .search .search-left .search-box .text-bottom li {
          font-size: 12px;
          margin-right: 13px; }
          .search .search-left .search-box .text-bottom li a {
            color: #999;
            text-decoration: none; }
  .search .shop-cart {
    position: relative;
    margin-right: 95px;
    height: 36px;
    width: 190px;
    font-size: 12px;
    color: #f10215;
    border: 1px solid #ccc; }
    .search .shop-cart:after {
      display: block;
      content: '';
      z-index: 999;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: -1px;
      left: 0;
      background: transparent; }
    .search .shop-cart:hover:after {
      background: #fff; }
    .search .shop-cart:hover .shop-list {
      display: block; }
    .search .shop-cart p {
      position: relative;
      background: #ffffff;
      line-height: 35px;
      text-align: center;
      cursor: pointer; }
      .search .shop-cart p b {
        position: absolute;
        top: 5px;
        right: 35px;
        background: #f10215;
        color: #ffffff;
        width: 15px;
        height: 15px;
        text-align: center;
        line-height: 15px;
        border-radius: 50%; }
    .search .shop-cart .shop-list {
      display: none;
      position: absolute;
      z-index: 999;
      width: 310px;
      height: 50px;
      padding: 10px;
      right: -1px;
      top: 36px;
      border: 1px solid #cccccc;
      background: #fff; }
      .search .shop-cart .shop-list span {
        display: block;
        color: #cccccc;
        height: 50px;
        margin-left: 20px;
        text-align: center;
        line-height: 50px;
        background: url("../img/shop.png") no-repeat; }

.web-nav {
  width: 1190px;
  margin: 10px auto; }
  .web-nav .web-list {
    width: 790px;
    margin: auto; }
    .web-nav .web-list li {
      display: inline-block; }
      .web-nav .web-list li a {
        display: block;
        padding: 15px;
        text-align: center;
        line-height: 2px;
        text-decoration: none;
        font-size: 14px;
        color: #333; }
        .web-nav .web-list li a:hover {
          color: #f10215; }

.search .search-left .search-box .left-text {
  padding: 2px;
  background: #f10215; }

.search .search-left .search-box .left-text span {
  right: 59px; }

.wrap {
  width: 1190px;
  margin: auto;
  height: 643px;
  overflow: hidden; }
  .wrap .wrap-left {
    float: left;
    width: 350px; }
  .wrap .wrap-right {
    float: left;
    width: 780px;
    margin-left: 30px;
    height: 479px; }
    .wrap .wrap-right > h3 {
      width: 590px;
      height: 66px;
      color: #666;
      font-size: 16px; }
    .wrap .wrap-right .price {
      width: 590px;
      height: 81px;
      background: #f3f3f3; }
      .wrap .wrap-right .price > p {
        height: 40px;
        line-height: 40px;
        font-size: 12px; }
        .wrap .wrap-right .price > p > span {
          display: inline-block;
          vertical-align: middle; }
        .wrap .wrap-right .price > p > b {
          display: inline-block;
          vertical-align: middle;
          font-size: 22px;
          color: #f10215; }
        .wrap .wrap-right .price > p > a {
          display: inline-block;
          margin-left: 10px;
          vertical-align: middle; }
          .wrap .wrap-right .price > p > a:hover {
            color: #f10215; }
      .wrap .wrap-right .price > div {
        height: 40px;
        line-height: 40px;
        font-size: 12px; }
        .wrap .wrap-right .price > div > span {
          display: inline-block;
          vertical-align: middle; }
        .wrap .wrap-right .price > div > b {
          font-weight: normal;
          display: inline-block;
          vertical-align: middle;
          border: 1px solid #f10215;
          color: #f10215;
          padding: 2px 3px;
          line-height: 16px; }
        .wrap .wrap-right .price > div > i {
          font-style: normal;
          display: inline-block;
          vertical-align: middle; }

.wrap-left {
  position: relative;
  height: 350px; }
  .wrap-left .sbox {
    position: relative;
    float: left;
    width: 350px;
    height: 350px;
    border: 1px solid #ccc; }
    .wrap-left .sbox .spic {
      width: 350px;
      height: 350px; }
    .wrap-left .sbox .sc {
      position: absolute;
      top: 0;
      left: 0;
      background: orange;
      opacity: 0.3;
      visibility: hidden; }
  .wrap-left .bbox {
    position: absolute;
    left: 370px;
    top: 0;
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    margin-left: 11px;
    overflow: hidden;
    visibility: hidden; }
    .wrap-left .bbox .bpic {
      position: absolute;
      width: 800px;
      height: 800px; }

#ullist {
  position: absolute;
  width: 354px;
  height: 56px;
  bottom: -70px;
  text-align: center; }

#ullist .box > ul {
  position: absolute;
  width: 314px;
  top: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden; }

#ullist .box > ul > li {
  float: left;
  width: 56px;
  height: 56px;
  margin-left: 4px;
  cursor: pointer; }

#ullist .box > ul > li > img {
  display: block;
  width: 52px;
  height: 52px;
  border: 1px solid #eee; }

#ullist .box a {
  position: absolute;
  width: 10px;
  height: 54px;
  top: 0;
  text-align: center;
  line-height: 56px;
  border: 1px solid #ccc;
  z-index: 5;
  background: #fff; }

#left {
  left: 0;
  color: #fff; }

#right {
  right: 0; }

.box {
  position: relative;
  width: 354px;
  height: 56px;
  overflow: hidden; }

.address {
  width: 590px;
  height: 60px;
  border-bottom: 1px solid #7a6e6e; }
  .address > span {
    float: left;
    height: 60px;
    width: 44px;
    line-height: 30px;
    display: block;
    font-size: 12px; }
  .address > div {
    float: left;
    font-size: 12px;
    line-height: 30px; }
    .address > div a {
      color: #7a6e6e; }
      .address > div a:hover {
        color: #f10215; }

.ious {
  width: 590px;
  height: 77px;
  overflow: hidden;
  margin-top: 10px; }
  .ious > span {
    display: block;
    height: 77px;
    float: left;
    line-height: 34px;
    font-size: 12px; }
  .ious > p {
    float: left;
    height: 77px;
    line-height: 34px;
    font-size: 12px;
    color: #7a6e6e; }
    .ious > p > a {
      display: inline-block;
      margin-right: 10px;
      height: 34px;
      padding: 0 10px;
      border: 1px solid #999999; }
      .ious > p > a:hover {
        border-color: #e83632; }

.add {
  width: 590px;
  height: 46px;
  margin: 10px 0;
  overflow: hidden; }
  .add > div {
    float: left;
    width: 60px;
    height: 44px;
    border: 1px solid #cccccc;
    overflow: hidden; }
    .add > div > p {
      float: left;
      width: 41px;
      height: 44px;
      line-height: 44px;
      background: #fff;
      text-align: center; }
    .add > div > div {
      float: left;
      width: 17px;
      height: 44px;
      background: #f1f1f1;
      border-left: 1px solid #ccc; }
      .add > div > div > span {
        display: block;
        text-align: center;
        line-height: 22px;
        cursor: pointer; }
  .add > button {
    height: 46px;
    width: 140px;
    margin-left: 20px;
    border: 0;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    line-height: 46px;
    background: #f10215;
    color: #fff; }

.prompt {
  padding: 10px 0;
  font-size: 12px;
  color: #999999; }

.footer {
  width: 100%; }
  .footer .footer-box {
    width: 1190px;
    margin: auto;
    overflow: hidden;
    padding: 30px 0; }
    .footer .footer-box > span {
      float: left;
      display: block;
      width: 25%;
      text-align: center;
      height: 42px;
      line-height: 42px; }
      .footer .footer-box > span > i {
        display: inline-block;
        height: 42px;
        line-height: 42px;
        font-style: normal;
        vertical-align: middle;
        font-size: 18px;
        color: #444;
        font-weight: 700; }
      .footer .footer-box > span > b {
        display: inline-block;
        vertical-align: middle;
        width: 36px;
        height: 42px;
        background-image: url("../img/sprite.footer.png");
        background-repeat: no-repeat; }
      .footer .footer-box > span:nth-of-type(1) b {
        background-position: 0px -191px; }
      .footer .footer-box > span:nth-of-type(2) b {
        background-position: -41px -191px; }
      .footer .footer-box > span:nth-of-type(3) b {
        background-position: -82px -191px; }
      .footer .footer-box > span:nth-of-type(4) b {
        background-position: -123px -191px; }

.footer-bottom {
  width: 1190px;
  margin: 20px auto 0;
  overflow: hidden; }
  .footer-bottom > ul {
    width: 100%;
    height: 160px;
    overflow: hidden;
    margin-bottom: 20px; }
    .footer-bottom > ul > li {
      float: left;
      width: 88px;
      padding-right: 110px;
      font-size: 14px; }
      .footer-bottom > ul > li > h5 {
        line-height: 22px;
        margin-bottom: 5px; }
      .footer-bottom > ul > li > a {
        display: block;
        color: #999;
        line-height: 22px; }
        .footer-bottom > ul > li > a:hover {
          color: #f10215; }
  .footer-bottom > div {
    margin-top: 20px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    padding: 0 65px; }
    .footer-bottom > div > a {
      position: relative;
      display: block;
      float: left;
      padding: 0 10px;
      text-align: center; }
      .footer-bottom > div > a:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        right: 0;
        top: 0;
        background: #999; }
      .footer-bottom > div > a:hover {
        color: #e83632; }
  .footer-bottom a:hover {
    color: #e83632; }
  .footer-bottom > p {
    text-align: center;
    line-height: 22px;
    color: #999;
    font-size: 12px;
    margin-top: 5px; }
    .footer-bottom > p b {
      font-weight: normal; }

.footer-bottom .china-map {
  float: right;
  padding: 0;
  width: 200px;
  height: 150px;
  background: url("../img/sprite.footer.png") no-repeat 0 0; }
  .footer-bottom .china-map > h5 {
    text-align: center; }
  .footer-bottom .china-map > p {
    padding: 0 10px;
    font-size: 12px;
    color: #999;
    line-height: 20px; }
  .footer-bottom .china-map > div {
    padding: 0 10px;
    line-height: 20px;
    text-align: right;
    font-size: 12px;
    color: #999999; }
    .footer-bottom .china-map > div > a:hover {
      color: #e83632; }

.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 6px;
  height: 700px;
  background: #7a6e6e; }
  .sidebar > ul {
    position: absolute;
    left: -35px;
    top: 50%;
    margin-top: -90px;
    width: 35px;
    height: 180px; }
    .sidebar > ul > li {
      height: 35px;
      line-height: 35px;
      background: #7a6e6e;
      color: #fff;
      margin-bottom: 2px;
      border-radius: 5px 0 0 5px/5px 0 0 5px; }
      .sidebar > ul > li:hover {
        background: #f10215; }
      .sidebar > ul > li > a {
        display: block;
        text-align: center; }
        .sidebar > ul > li > a > i {
          font-size: 20px; }
  .sidebar > div {
    position: absolute;
    width: 35px;
    bottom: 0;
    left: -35px; }
    .sidebar > div > p {
      height: 35px;
      line-height: 35px;
      background: #7a6e6e;
      color: #fff;
      margin-bottom: 2px;
      border-radius: 5px 0 0 5px/5px 0 0 5px; }
      .sidebar > div > p:hover {
        background: #f10215; }
      .sidebar > div > p > a {
        display: block;
        text-align: center; }
        .sidebar > div > p > a > i {
          font-size: 20px; }
  .sidebar > span {
    position: absolute;
    width: 64px;
    height: 160px;
    left: -58px;
    top: 0; }
    .sidebar > span > a {
      display: block;
      height: 100%;
      background: url("../img/rightnav.png") no-repeat; }

/*# sourceMappingURL=datails.css.map */
