@charset "utf-8";
.speity{
  width:100%;
  height:385px;
  .speity-box{
    width:$autowidth;
    margin:auto;
    height:385px;
  }
}
.go-enough{
  width: 100%;
  height:auto;
  .enough-box{
    width:$autowidth;
    margin:auto;
    min-height: 300px;
    background: #fff;
  }
}